#Git Ignore FIle
ede-projects.el
*.pdf
*.tex
*.html
org-templates/*
emacs-config.el
tramp
auto-save-list
.DS_Store
*~
ac-comphist.dat
semanticdb/
/external/cedet/lisp/cedet/cogre/loaddefs.el
.org-id-locations
*.org#
