[submodule "external/muse"]
	path = external/muse
	url = git://repo.or.cz/muse-el.git
[submodule "external/emacs-rails"]
	path = external/emacs-rails
	url = https://github.com/dima-exe/emacs-rails-reloaded
[submodule "external/rinari"]
	path = external/rinari
	url = https://github.com/eschulte/rinari
[submodule "external/org-mode"]
	path = external/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "external/rhtml"]
	path = external/rhtml
	url = https://github.com/eschulte/rhtml
