[submodule "external/muse"]
	path = external/muse
	url = git://repo.or.cz/muse-el.git
[submodule "external/emacs-rails"]
	path = external/emacs-rails
	url = https://github.com/dima-exe/emacs-rails-reloaded
[submodule "external/rinari"]
	path = external/rinari
	url = https://github.com/eschulte/rinari
[submodule "external/org-mode"]
	path = external/org-mode
	url = https://github.com/bzg/org-mode
[submodule "external/rhtml"]
	path = external/rhtml
	url = https://github.com/eschulte/rhtml
[submodule "external/o-blog"]
	path = external/o-blog
	url = https://github.com/renard/o-blog.git
[submodule "external/magit"]
	path = external/magit
	url = git://github.com/magit/magit.git
[submodule "external/git-modes"]
	path = external/git-modes
	url = git://github.com/magit/git-modes.git
[submodule "external/graphviz-dot-mode"]
	path = external/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode
[submodule "smarttabs"]
	path = smarttabs
	url = https://github.com/jcsalomon/smarttabs
[submodule "external/string-inflection"]
	path = external/string-inflection
	url = https://github.com/akicho8/string-inflection
[submodule "exec-path-from-shell"]
	path = exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "external/haskell-mode"]
	path = external/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
